.imageContainer{
    display: flex;
    flex-direction: column;
    position: relative;
}

.imageContainer img{
    height: 100px;
    width: 100px;
    padding-top: 30px;
}

.imageContainer span{
    position: absolute;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 45px;
    color: white;
    left: 16px;
    top: 16px;
    background-color: #239400;
    z-index: 100;
    clip-path: polygon(100% 0%, 85% 50%, 100% 100%, 0 100%, 0% 50%, 0 0);
}

.price span{
    font-size: 25px;
}

.tableHeader{
    margin-bottom: 10px;
    background-color: #e5eaff;
}